<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <form action="/renew/<%= @content.id %>" method="post">
      <p>NAME：<input type="text" name="user_name" value="<%= @content.name %>"></p>
      <p>HONBUN：<input type="text" name="body" value="<%= @content.body %>"></p>
      <input type="submit" value="編集完了">
    </form>
  </body>
</html>
